
        <div class="student_prediction_dashboard">

            <div class="color_indicator_div">

                <div class="bar_indicator_line">
                    <div class="label_spe_bar_indicator">
                        <p class="left_label">ASTRE</p>
                    </div>
                    <div class="bar_bubble_div">
                        <div class="bubble_indication_block" id="bubble_indication_block">
                            <div class="bubble_indicator_line">
                                <div class="indicator_student_bubble">
                                    <p>{{ selectedStudent.id }}</p>
                                </div>
                                <!-- <div class="indicator_student_pointer"></div> -->
                            </div>
                        </div>
                        <div class="gradient_bar"></div>
                    </div>
                    <div class="label_spe_bar_indicator">
                        <p class="right_label">IPS</p>
                    </div>
                </div>
            </div>

            <div class="score_div">
                <h2>Score</h2>
                <h1>{{ selectedStudent.computeProbability(weights) | number: '1.5-5' }}</h1>
                <p [innerHTML]="caption()"></p>
            </div>

            
        </div>
