.student_prediction_dashboard {
    display: inherit;
    flex-direction: inherit;
}

.color_indicator_div {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 3rem auto 1rem auto;
    // background-color: antiquewhite;
}

.bar_bubble_div {
    width: 80%;
    min-width: 20rem;
}

.bubble_indicator_line {
    height: 5rem;
}

.bubble_indication_block {
    width: fit-content;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20%;
    margin-right: auto;
    transform: translateX(-50%);
    transition: margin-left 0.5s ease-in-out;
}

.indicator_student_bubble {
    display: flex;
    height: 3rem;
    width: 9rem;
    background: var(--grey-color);
    margin: 0 auto;
    border-radius: 20px;
    text-align: center;
    position: relative;
    align-items: center;
}

.indicator_student_bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid var(--grey-color);
	margin-left: -20px;
	margin-bottom: -30px;
}

.bar_indicator_line {
    width: 100%;
    display: flex;
    flex-direction: row;
    // background: orange;
    align-items: end;
    margin: 0 auto;
    align-self: center;
}

.label_spe_bar_indicator {
    // background: darkcyan;
    padding: 0 2rem;
    width: 8rem;

    & .left_label {
        color: var(--blue-color);
        font-size: 3rem;
    }

    & .right_label {
        color: var(--violet-color);
        font-size: 3rem;
    }
}

.gradient_bar {
    height: 20px;
    background-image: linear-gradient(to right, var(--blue-color), var(--violet-color));
    border-radius: 2rem;
}

.score_div {

    margin-bottom: 2rem;

    & h2 {
        margin-bottom: 0;
    }

    & h1 {
        margin: 0 auto 1rem auto;
    }

    & p {
        text-align: center;
    }
}

.student_id {
    font-weight: bold;
}