
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ChoixAstreIPS-primary: mat.define-palette(mat.$indigo-palette);
$ChoixAstreIPS-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ChoixAstreIPS-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ChoixAstreIPS-theme: mat.define-light-theme((
  color: (
    primary: $ChoixAstreIPS-primary,
    accent: $ChoixAstreIPS-accent,
    warn: $ChoixAstreIPS-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ChoixAstreIPS-theme);

@import "~@ng-select/ng-select/themes/default.theme.css";

:root {

  color: #EAEAEA;
  background-color: #2C2B29;

  // font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --text-color: #CACACA;
  --bg-color: #2C2B29;
  --grey-color: #515050;
  --grey2-color: #3E3E3E;
  --grey3-color: #848484;
  --grey-color-hover: #727272;
  --violet-color: #A22BB6;
  --blue-color: #42BBC2;

}

body {
  /*height: 100vh;
  width: 100vw;*/
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
}

p {
  font-family: 'Open Sans';
  color: var(--text-color);
  margin: 0 auto;
  font-size: 1em;
}

h1 {
  font-family: 'Open Sans';
  color: var(--text-color);
  margin: 2rem auto;
  font-weight: normal;
  text-align: center;
}

h2 {
  font-family: 'Open Sans';
  color: var(--text-color);
  margin: 1rem auto;
  font-weight: normal;
  text-align: center;
}

h3 {
  font-family: 'Open Sans';
  color: var(--text-color);
  margin: 0 auto;
  font-weight: normal;
  text-align: center;
}

// >>>>>>>>>>>> Custom ng-select style >>>>>>>>>>>>>>
   ng-select {
     font-family: 'Open Sans', sans-serif;
     font-size: 1em;
     width: 17rem;
     margin: 1rem auto 0 auto;

& input {
    color: var(--text-color) !important;
  }

& .ng-value {
    font-size: 0.95em;
    color: var(--text-color) !important;
  }

& .ng-option-label {
    font-size: 0.95em;
    color: var(--text-color) !important;
  }

& .ng-option .ng-option-disabled {
    font-size: 0.95em;
  }

& .ng-select-container {
    background-color: var(--grey-color) !important;
    border: 0 !important;
    border-radius: 0.6rem !important;
    height: 2.2rem !important;
  }

& .ng-dropdown-panel {
    border: 0 !important;

& .ng-option {
    background-color: var(--grey-color) !important;
    white-space: normal !important;

&.ng-option-marked {
   background-color: var(--grey-color-hover) !important;

&:hover {
   background-color: var(--grey-color-hover) !important;
 }
}
}

& .ng-optgroup {
    background-color: var(--grey-color) !important;
  }
}
}



.btn {
  margin: 1rem auto;
  text-decoration: none;
  background: var(--grey2-color);
  color: var(--text-color);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.8rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  cursor: pointer;

  &:hover {
    background: var(--grey-color);
  }
}

.ips {
  color: var(--violet-color);
}

.astre {
  color: var(--blue-color)
}

// <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

// >>>>>>>>> Custom ngx slider style >>>>>>>>
.ngx-slider {
  & .ngx-slider-pointer {
    background-color: var(--grey-color) !important;
    width: 20px !important;
    height: 20px !important;
    // margin-left: 7px !important;
    margin-top: 5px !important;
  }

  & .ngx-slider-pointer:after {
    display: none;
  }

  & .ngx-slider-bar {
    background-color: var(--grey3-color) !important;
  }

  & .ngx-slider-selection {
    background-color: var(--grey-color) !important;
  }

  & .ngx-slider-tick {
    .ngx-slider-tick-value {
       color: var(--text-color);
    }
  }

  & .ngx-slider-bubble {
    color: var(--text-color) !important;
    font-family: 'Open Sans';
    // margin-left: 7px;
  }
}

// <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
body { font-family: 'Open Sans', sans-serif; }