.full_page {
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    padding-bottom: 32px;
}

.choix_eleve_div {
    display: inherit;
    flex-direction: inherit;
}

.gradient_bar2 {
    height: 20px;
    background-image: linear-gradient(to right, var(--blue-color), var(--violet-color));
    border-radius: 2rem;
}