.full_page {
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
}

.choix_eleve_div {
    display: inherit;
    flex-direction: inherit;
}

.student_prediction_dashboard {
    display: inherit;
    flex-direction: inherit;
}

.weight_control_line {
    display: inherit;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-left: 2rem;
}

.control_block {
    display: inherit;
    min-width: 600px;
    width: 50%;
    flex-direction: row;
    margin: 0.5rem auto;


    label {
        font-family: 'Open Sans';
        color: var(--text-color);
        margin: auto 1rem auto auto;
        font-size: 1em;
        background: var(--grey2-color);
        padding: 0.5rem 1rem;
        border-radius: 0.8rem;
        width: 100%;
    }
}

.custom_slider_div {
    width: 20rem;
    min-width: 20rem;
    margin-right: 2rem;
}

.color_indicator_div {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 3rem auto 1rem auto;
    // background-color: antiquewhite;
}

.bubble_indicator_line {
    height: 5rem;
}

.bubble_indication_block {
    width: fit-content;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20%;
    margin-right: auto;
}

.indicator_student_bubble {
    height: 3rem;
    width: 9rem;
    // min-width: 200px;
    background: var(--grey-color);
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    // margin-top: 50px;
    text-align: center;
}

.indicator_student_pointer {
    height: 40px;
    width: 40px;
    background: var(--grey-color);
    margin: 0 auto;
    transform: rotate(45deg);
    // border-radius: 0 0 12px 0;
    margin-top: -22px;
    // position: relative;
    // left: calc(0.5vw - 50px);
}

.bar_indicator_line {
    width: 100%;
    display: flex;
    flex-direction: row;
    // background: orange;
    align-items: center;
    margin: 0 auto;
    align-self: center;
}

.label_spe_bar_indicator {
    // background: darkcyan;
    padding: 0 2rem;

    & .left_label {
        color: var(--blue-color);
        font-size: 3rem;
    }

    & .right_label {
        color: var(--violet-color);
        font-size: 3rem;
    }
}

.gradient_bar {
    height: 20px;
    width: 80%;
    min-width: 20rem;
    background-image: linear-gradient(to right, var(--blue-color), var(--violet-color));
    border-radius: 2rem;
}

.score_div {

    margin-bottom: 2rem;

    & h1 {
        margin: 0 auto 1rem auto;
    }

    & p {
        text-align: center;
    }
}