<app-titlebar name="Astre ou IPS: El Grando Predicator"></app-titlebar>
<ng-scrollbar style="height: 100vh">
    <div class="full_page">
        <div class="choix_eleve_div">
            <p>Choisir un-e élève spécifique</p>
            <ng-select [items]="students" [(ngModel)]="selectedStudent" bindLabel="id"
                [ngModelOptions]="{standalone: true}" id="student" placeholder="Choisissez un numéro étudiant"></ng-select>
        </div>

        <app-proba-bar *ngIf="selectedStudent else allStudentsView" [selectedStudent]="selectedStudent" [weights]="weights" (init)="calculateBubblePosition()"></app-proba-bar>

        <ng-template #allStudentsView>
            <p style="margin-top: 1rem">Aucun numéro étudiant sélectionné, vue d'ensemble activée</p>
            <app-proba-bar-all-students [studentsIndicators]="students" [indicatorsWeights]="weights"></app-proba-bar-all-students>
        </ng-template>
        <app-weights-control
            [weights]="weights"
        ></app-weights-control>
    </div>
</ng-scrollbar>