<div class="color_indicator_div">

    <div class="bar_indicator_line">
        <div class="label_spe_bar_indicator">
            <p class="left_label">ASTRE</p>
        </div>
        <div class="bar_bubble_div">
            <div class="gradient_bar" #gradientBar>
                <div *ngFor="let student of studentsIndicators"
                     id="{{student.id}}"
                     class="dot"
                     (click)="selectStudent.emit(student.id)"
                     matTooltipPosition="above"
                     matTooltip="{{student.id}}"
                ></div>
            </div>
        </div>
        <div class="label_spe_bar_indicator">
            <p class="right_label">IPS</p>
        </div>
    </div>

    <p class="sumup_sentence">Le système a prédit <span class="astre">{{astreAmount}} ASTRE</span> et <span class="ips">{{ipsAmount}} IPS</span> !</p>

</div>
