.student_prediction_dashboard {
    display: flex;
    flex-direction: column;
}

.color_indicator_div {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 3rem auto 3rem auto;
}

.bar_bubble_div {
    width: 80%;
    min-width: 20rem;
}

.bar_indicator_line {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;
    margin: 0 auto;
    align-self: center;
}

.label_spe_bar_indicator {
    // background: darkcyan;
    padding: 0 2rem;
    width: 8rem;

    & .left_label {
        color: var(--blue-color);
        font-size: 3rem;
    }

    & .right_label {
        color: var(--violet-color);
        font-size: 3rem;
    }
}

.gradient_bar {
    height: 20px;
    background-image: linear-gradient(to right, var(--blue-color), var(--violet-color));
    border-radius: 2rem;
    position: relative;
}

.score_div {

    margin-bottom: 2rem;

    & h1 {
        margin: 0 auto 1rem auto;
    }

    & p {
        text-align: center;
    }
}

.ips {
    color: var(--violet-color);
}

.astre {
    color: var(--blue-color)
}

.sumup_sentence {
    margin-top: 2rem;
}

.dot {
    height: 16px;
    width: 16px;
    border: 2px solid var(--bg-color);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    transform: translateX(-50%);
    cursor: pointer;
    transition: left .3s;

    &:hover {
        border-color: var(--text-color);
        border-width: 3px;
    }
}