<div class="weight_control_line">
    <div *ngFor="let weight of weights" class="control_block">
        <label>{{weight.title}}</label>
        <div class="custom_slider_div">
            <ngx-slider [(value)]="weight.value" [options]="sliderOptions" id="{{weight.key}}"></ngx-slider>
        </div>
    </div>
    <div class="btns">
        <button class="btn" (click)="saveWeights()">Sauvegarder les poids</button>
        <button class="btn" (click)="resetWeights()">Réinitialiser les poids</button>
    </div>
    <div class="presets">
        <weights-control-preset #presets *ngFor="let preset of savedWeights; let index = index;"
            [preset]="preset" (delete)="delete(index)" (edit)="edit(index)" (submit)="edit(null)"
            (selected)="applyPreset(index)" (nameChanged)="changePresetName($event)" [isEditing]="editingPreset == index"
            [isSelected]="isPresetSelected(index)"
        ></weights-control-preset>
    </div>
</div>