.weight_control_line {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-left: 2rem;
}

.control_block {
  display: inherit;
  min-width: 600px;
  width: 50%;
  flex-direction: row;
  margin: 0.5rem auto;


  label {
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color);
    margin: auto 1rem auto auto;
    font-size: 1em;
    background: var(--grey2-color);
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
    width: 100%;
  }
}

.custom_slider_div {
  width: 20rem;
  min-width: 20rem;
  margin-right: 2rem;
}

.btns{
  display: flex;
  justify-content: end;
  width: 100%;
  margin: 0 1rem;
}

.presets {
  display: flex;
  flex-wrap: wrap;

  .preset {
    display: inline-flex;
    margin: 0 .5rem;
    text-decoration: none;
    background: var(--grey2-color);
    color: var(--text-color);
    border: none;
    padding: .25rem 1rem;
    border-radius: 0.8rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    cursor: pointer;
    align-items: center;

    &:hover {
      background: var(--grey-color);
    }

    span {
      margin-right: .5rem;
      padding: .5rem 0;
    }

    input {
      text-decoration: none;
      border: none;
      background-color: var(--bg-color);
      color: var(--text-color);
      font-size: 1rem;
      padding: .5rem;
      border-radius: 0.8rem;
    }
  }
}