.weight_control_line {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-left: 2rem;
}

.control_block {
  display: inherit;
  min-width: 600px;
  width: 50%;
  flex-direction: row;
  margin: 0.5rem auto;


  label {
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color);
    margin: auto 1rem auto auto;
    font-size: 1em;
    background: var(--grey2-color);
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
    width: 100%;
  }
}

.custom_slider_div {
  width: 20rem;
  min-width: 20rem;
  margin-right: 2rem;
}