.preset {
  display: inline-flex;
  text-decoration: none;
  background: var(--grey2-color);
  color: var(--text-color);
  border: none;
  padding: .25rem 1rem;
  border-radius: 0.8rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  cursor: pointer;
  align-items: center;

  &.selected {
    border: 1px solid var(--text-color);
  }

  &:hover {
    background: var(--grey-color);
  }

  span {
    margin-right: .5rem;
    padding: .5rem 0;
  }

  input {
    text-decoration: none;
    border: none;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 1rem;
    padding: .5rem;
    border-radius: 0.8rem;
  }
}